# Análisis de Datos y Manipulación
pandas>=2.0.0
numpy>=1.24.0

# Procesamiento de Lenguaje Natural (NLP)
nltk>=3.8.1
spacy>=3.6.0
transformers>=4.30.0
torch>=2.0.0

# Machine Learning y Evaluación
scikit-learn>=1.2.0
scipy>=1.10.0

# Visualización
matplotlib>=3.7.0
seaborn>=0.12.0

ipykernel
tqdm